form {
   display: flex;
   flex-direction: column;
   width: 300px;
   height: 300px;
   padding: 20px;
   border-radius: 8px;
}

input[type="submit"] {
      background-color: #0000FF;
      color: #fff;
      cursor: pointer;
      margin: 5px;
      padding: 3px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    input[type="submit"]:hover {
      background-color: #ADD8E6;
    }

label {
      display: block;
      margin-bottom: 8px;
    }